/**

Author: Drew D. Lenhart
Desc:   Overriding template & additions
Date:   Jan 2021

**/

.blue-bar {
  background-color: #303544;
  padding: 5px;
  margin-bottom: 20px
}

.margins-image{
  margin-top: 0px;
  margin-bottom: 15px;
}

.justify {
  text-align: justify !important;
}

.center-me {
  text-align: center !important;
}

.add-margin-15{
  margin-top: 15px;
}

.pad-10{
  padding-left: 10px !important;
}

.top-5 {
  margin-top: 20px !important;
}

.margin-bottom {
  margin-bottom: 20px !important;
}

.navbar-collapse {
  align-items: baseline !important;
}

.compImg {
    max-width:100%;
    height: auto;
}

.col {
  text-align: center !important;
}

/* Media Queries */

@media (max-width: 992px) {
  .blue-bar-thick {
    padding: 0px !important;
  }

  .title {
    text-align: center !important;
  }

  .text-left {
    text-align: center !important;
  }

  .margins-image{
    margin-top: 10px !important
  }

}

@media (min-width: 1300px) {
  .main-wrapper .container {
      max-width: 90% !important;
  }
}
